@using System.Security.Claims;

@{
    ViewData["Title"] = "My Account";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>

<table class="table table table-striped">
	<tbody>
		<tr>
			<th scope="row">UID</th>
			<td>@Context.User.FindFirst(ClaimTypes.NameIdentifier).Value</td>
		</tr>
		<tr>
			<th scope="row">First name</th>
			<td>@Context.User.FindFirst(ClaimTypes.GivenName).Value</td>
		</tr>
		<tr>
			<th scope="row">Last name</th>
			<td>@Context.User.FindFirst(ClaimTypes.Surname).Value</td>
		</tr>
		<tr>
			<th scope="row">Email</th>
			<td>@Context.User.FindFirst(ClaimTypes.Email).Value</td>
		</tr>
	</tbody>
</table>

<div>
<a asp-controller="Cert" asp-action="Index">Manage certificates</a>
</div>
